/* css파일 하나로 합치기 */
@import "reset.css";
@import "1-18footer.css";
@import '1-18header.css';
@import '1-18main.css';

/* 전체 body에 폰트 넣고 싶을 때 */
body{
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}



.media-info-msg{
    position : absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    opacity : 1;
}

@media screen and (max-width:380px){
    .media-info-msg {
        opacity : 0;
    }
}