/* css파일 하나로 합치기 */
@import "reset.css";
@import "1-18footer.css";
@import '1-18header.css';
@import '1-18main.css';

:root{
    --button-primary:rgb(254,111,15);
    --button-hover : rgba(254,111,15,0.8);
}

/* 전체 body에 폰트 넣고 싶을 때 */
body{
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}



.media-info-msg{
    position : fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@media screen and (max-width:500px){
    .media-info-msg {
        display : none;
    }
}